<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link href="favicon.ico" type="image/x-icon">
    <title>ShopStop</title>
</head>

<body>
    <header>
        <nav class="nav">
            <p>Note: Only admin can add category!</p>
            <ul>
                <li><a href="/">Home Page</a></li>

                {{#if user}}
                
                {{#if isAdmin}}
                <li><a href="/category/add">Add Category</a></li>
                {{/if}}

                <li><a href="/product/add">Add Product</a></li>
                <li class="align-right">Welcome, {{user.username}}!</li>
                <li class="align-right">
                    <form id="logout-form" method="POST" action="/user/logout">
                        <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>                        
                    </form>
                </li>
                {{else}}
                <li class="align-right"><a href="/user/login">Login</a></li>
                <li class="align-right"><a href="/user/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <main>

        {{{body}}}

    </main>
    <footer>
        <p>&copy; ShopStop</p>
    </footer>
</body>

</html>